*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  position: relative;

}
button{
  background:none ;
  border: none;
}
.todo-top{
  background-repeat: no-repeat;
height: 25vh;
background-size: cover;
display: flex;
justify-content: space-around;
padding: 0em 1.5em 3em 1.5em;
flex-direction: column;
}
.todo-top p{
  letter-spacing: .6em;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;

}
.todo-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-top-toggle{
  display: flex;
justify-content: space-between;
align-items: flex-start;
width: 100%;
}
.form-todo{
}
.inputodo{
  height: 25px;
  border: none;
  outline: none;
  width: 100%;
}
.input-content{
  max-width: 100%;
  padding: .5em 1em;
  background-color: white;
  border-radius: .3em;

}
.todo-content{
  display: flex;
  flex-direction: column;
  border-radius: .3em;
}
.todo-main{
  display: flex;
  padding: .5em 1em;
  border-bottom:  1px solid hsl(236, 9%, 61%) ;
  justify-content: space-between;
}
.checktodo{
  display: flex;
  gap: .5em;
}
.btnclose{
  color: white;
}
.todo-inp-container{
position: absolute;
top: 50%;
display: flex;
flex-direction: column;
gap: 2em;
width: 80%;
}
.todopart{
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: .5em 1em;
  border-radius: .3em;
}